.app {
  text-align: center;
  margin-top: 50px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  margin-top: 1%;
}

button {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}
